<!DOCTYPE html>
<html>

<head>
    <title>Update Username</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="library-header compact">
        <h2>Simple Library System</h2>
    </div>
    <div class="container">
        <h1>Account</h1>
        <p>Your current name is <b><%= user.username %></b></p>
        <form action="/updateUsername" method="POST">
            <div class="form-group">
                <input type="text" name="newName" placeholder="New Username" required>
            </div>
            <button type="submit" class="btn-primary">Update</button>
        </form>
        <div class="mt-3">
            <a href="/dashboard">Return Home</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
</body>

</html>